In [1]:
import pandas as pd

In [4]:
qdec_table = "../data/01_qdec_table/sorted.qdec.table.dat"
df = pd.read_csv(qdec_table,sep=" ")

In [5]:
df.head()

              fsid         fsid_base  years  baseline_age  sex  edu_coded
0  sub-4000789ses2  sub-4000789_base   0.00         63.37    1          0
1  sub-4000789ses3  sub-4000789_base   2.33         63.37    1          0
2  sub-3002197ses2  sub-3002197_base   0.00         58.57    0          1
3  sub-3002197ses3  sub-3002197_base   2.03         58.57    0          1
4  sub-5002415ses2  sub-5002415_base   0.00         56.89    1          0

In [6]:
len(df)

2578

In [7]:
len(df[df['years']==0])

1289

In [8]:
df['age'] = df['baseline_age'] + df['years']

In [9]:
print("Age - min:",min(df['age']),'max:',max(df['age']))

Age - min: 47.18 max: 81.98

In [10]:
# UKB male - 1, female - 0
len(df[(df['sex']==0) & (df['years']==0)])

660

In [11]:
len(df[(df['sex']==1) & (df['years']==0)])

629

In [13]:
df['id'] = df['fsid_base'].apply(lambda x: x.split("_")[0])

In [14]:
min(df['years'][df['years']>0])

2.02

In [15]:
max(df['years'][df['years']>0])

2.68

In [16]:
df['years'][df['years']>0].mean()

2.2587276958882865